<!-- image_display.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bagatelle gallery</title>
    <link rel="stylesheet" href="/static/styles/w3.css">
    <link rel="stylesheet" href="/static/styles/main_style.css">
    <link rel="stylesheet" href="/static/styles/gallery_style.css">
    <link rel="stylesheet" href="/static/js/magniview/main.css">
</head>
<body>

<div id="login-container">
    <h2>Login</h2>
    <input type="password" id="password" placeholder="Enter password"/>
    <button id="login-btn">Login</button>
    <p id="error-msg" style="color:red"></p>
</div>

<div id="main-container" style="display:none;"></div>

<script src="/static/js/index.js" type="module"></script>

</body>
</html>